* {
  padding: 0;
  margin: 0;
}

.wrapper {
  background-color: #ebe6e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100svh;
  padding: 0 40px;
}
